<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h1>ユーザー一覧</h1>
  <ul class="admin_users">
    <% @admin_users.each do |admin_user| %>
      <br>
      <td><%= admin_user.email%></td>
      <br>
    <% end %>
  </ul>
</div>